# Environment Configuration Template
# -------------------------------------------------------------
# Instructions for Team :
# 1. DO NOT RENAME THIS FILE TO .env , Make a new copy named '.env' in src folder
# 2. Open '.env' and paste the shared MONGO_URI string provided
# 3. Start the server from the project root directory and make sure you see "Connected To Mongo Successfully"
# -------------------------------------------------------------
MONGO_URI=mongodb+srv://moaaazibrahim_db_user:medical2026@medicalsystem.uy1xyip.mongodb.net/?appName=MedicalSystem
PORT=3000
JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=token-validity-period
